---

# Devoir 1 Python for Data Science 2021

---

## EXERCICE 1

**Question 1**. Commencer par importer pandas et numpy en utilisant la convention:

In [13]:
# Ecrire le code ici
import pandas as pd
import numpy as np

**Question 2**. Maintenant charger le fichier `input/automobile_data.csv` dans le **DataFrame** `cars_df` et afficher les 10 première lignes:

In [36]:
# Ecrire le code ici
cars_df = pd.read_csv("devoir_data1.csv")
#cars_df=cars_df.drop('Unnamed: 0', axis=1)

In [37]:
cars_df.head()

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,3,2,164.0,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,4,2,164.0,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [34]:
cars_df.to_csv("devoir_data1.csv")

**Question 3**. Afficher les 8 dernières du `DataFrame`.

In [15]:
# Ecrire le code ici
cars_df.tail(8)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
197,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,16515
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
199,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

**Question 4**. Donner le nombre de lignes et de colonnes de ce Dataframe.

In [16]:
# Ecrire le code ici
cars_df.shape

(205, 26)

In [17]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

**Question 5**. Récupérez le nombre d'entrées non nulles par colonne. La colonne `price` contient-elle des valeurs nulles?

In [18]:
cars_df=cars_df.replace(['?'],np.nan)

In [19]:
cars_df['price']=cars_df['price'].astype('float')

In [21]:
# A faire: Afficher les informations du dataframe en utilisant .info()
cars_df.to_csv("devoir_data.csv")

**Question 6**. Sélectionnez maintenant toutes les lignes avec une valeur dans la colonne 'price', et stockons-les dans un nouveau DataFrame appelé `cars_with_price_df`.

Quel est le `shape` de ce nouveau DataFrame? Confirmez votre réponse en utilisant le résultat précédent.

In [11]:
# Ecrire le code ici
cars_with_price_df = cars_df[cars_df['price']!=np.nan]

In [13]:
cars_with_price_df.shape

(205, 26)

**Question 7**. Combien de `constructeurs(make)` distincts existe-il dans le jeu de données?

In [21]:
cars_with_price_df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [26]:
# Ecrire le code ici
x=cars_with_price_df["make"].unique()

In [35]:
cars_with_price_df["make"].nunique()

22

In [33]:
big_makers = []
for make in x:
    mask=cars_with_price_df['make']==make
    cnt = cars_with_price_df[mask]['make'].count()
    if cnt>10:
        big_makers.append(make)

In [34]:
big_makers

['honda',
 'mazda',
 'mitsubishi',
 'nissan',
 'peugot',
 'subaru',
 'toyota',
 'volkswagen',
 'volvo']

**Question 8**. Affichez tous les constructeurs qui ont publié plus de 10 modèles. Enregistrez ces résultats dans une nouvelle variable `big_makers`.

In [ ]:
'audi'

In [25]:
# Ecrire le code ici

cars_with_price_df["make"]

AttributeError: 'Series' object has no attribute 'values_count'

**Question 9**. Récupérez les statistiques suivantes:
- la voiture avec la puissance(horsepower) maximale
- la voiture avec la longueur(length) minimale
- la moyenne de la largeur(width) des voitures

In [ ]:
# Ecrire le code ici

## EXERCICE 2: 

Ecrivez une fonction appelée **isprime** qui prend un entier positif N et détermine s'il est premier ou non. Renvoie le N s'il est premier et rien si ce n'est pas le cas.

Ensuite, en utilisant une **list comprehension** et la fonction **isprime**, créez une liste **myprimes** qui contient tous les nombres premiers inférieurs à 100.

In [ ]:
# Ecrire le code ici

## EXERCICE 3 : Vrai ou Faux
- Python est un langage compilé
- les listes sont modifiable contrairement aux tuples
- Data Science produit de la connaissance à partir des données
- DataFrame peux-etre vu comme une table sur excel